@model Activos_PrestamosOET.Models.PRESTAMO

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del préstamo</h2>


    <h4>PRESTAMO</h4>
    <hr />   


<div class="container">
    <div class="row">


            <div class="col-md-2">
                <label class="control-label" for="inputDefault">@Html.DisplayNameFor(model => model.NUMERO_BOLETA):</label>
            </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.NUMERO_BOLETA)
                </div>
                <br />
            <br />
            <div class="col-md-2">
                <label class="control-label" for="inputDefault">Solicitante:</label>
            </div>
            <div class="col-md-4">
                Juanito de los Angeles
            </div>
            <br />
            <br />
            <div class="col-md-2">
                <label class="control-label" for="inputDefault">@Html.DisplayNameFor(model => model.MOTIVO):</label>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.MOTIVO)
            </div>
            <br />

        <div class="col-md-6">

        </div>
    </div>
</div>	





    <div>
        <p>
            @Html.ActionLink("Regresar a Solicitudes", "Index")
        </p>
    </div>
</div>
