@model Activos_PrestamosOET.Models.PRESTAMO

@{
    ViewBag.Title = "Detalles";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("[id$=A4]").addClass("active");
    });
</script>
<div>
    <p>
        @Html.ActionLink("Regresar a Solicitudes", "Index", null, new { @class = "btn btn-default" })

    </p>
</div>
<legend><h2>Detalles de la Solicitud</h2></legend>

<div class="panel panel-default">
    <div class="panel-body">

        <div class="container">
            <div class="row">


                <div class="col-md-2">
                    <label class="control-label" for="inputDefault">@Html.DisplayNameFor(model => model.NUMERO_BOLETA):</label>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.NUMERO_BOLETA)
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="inputDefault">@Html.DisplayNameFor(model => model.FECHA_SOLICITUD):</label>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.FECHA_SOLICITUD)
                </div>

                <br />
                <br />
                <div class="col-md-2">
                    <label class="control-label" for="inputDefault">Solicitante:</label>
                </div>
                <div class="col-md-4">
                    @ViewBag.Nombre
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="inputDefault">@Html.DisplayNameFor(model => model.FECHA_RETIRO):</label>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.FECHA_RETIRO)
                </div>
                <br />
                <br />
                <div class="col-md-2">
                    <label class="control-label" for="inputDefault">@Html.DisplayNameFor(model => model.MOTIVO):</label>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.MOTIVO)
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="inputDefault">@Html.DisplayNameFor(model => model.PERIODO_USO):</label>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.PERIODO_USO)
                </div>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("aceptar_solicitud", "PRESTAMOes"))
{
    @Html.HiddenFor(model => model.ID);
    <table class="table" style="margin-top:20px">
        <thead>
            <tr>
                <th>
                    Equipo
                </th>

                <th>
                    Cantidad Solicitada
                </th>

                <th  class="col-md-3">
                    Cantidad Aprobada
                </th>
            </tr>
        </thead>
        <tbody>
           @if (ViewBag.Equipo_Solict != null)
            {
                foreach (List<String> s in ViewBag.Equipo_Solict)
                {
                    <tr>
                        @foreach (String hilera in s)
                        {
                            <td>@hilera&nbsp;</td>
                        }

                        <td>
                            @Html.TextBox("cantidad_aprobada", ViewBag.CurrentFilter as List<decimal>, new { style = "color:#FF0000", @class = "form-control col-md-2", @type = "number", @min = "0", @value = "0" })
                        </td>

                    </tr>
                }
            }

        </tbody>
    </table>

    <br />
    <br />
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="inputDefault">@Html.DisplayNameFor(model => model.SOFTWARE_REQUERIDO):</label>
                        <div class="col-lg-10">
                            @Html.DisplayFor(model => model.SOFTWARE_REQUERIDO)
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="inputDefault">@Html.DisplayNameFor(model => model.OBSERVACIONES_SOLICITANTE):</label>
                        <div class="col-lg-10">
                            @Html.DisplayFor(model => model.OBSERVACIONES_SOLICITANTE)
                        </div>
                    </div>
                </div>
            </div>
                    <br />
                    <br />
                    <div id="Botones_aceptar_cancelar" class="col-md-offset-9 col-md-12">

                        <input type="submit" value="Aceptar" class="btn btn-success" />

                      <!--  <input type="submit" value="Denegar" class="btn btn-danger" /> -->

                    </div>

}



