
@model PagedList.IPagedList<Activos_PrestamosOET.Models.PRESTAMO>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Historial";
}

<h2>Historial de Prestamos</h2>
<br />
<br />
<script type="text/javascript">
    $(document).ready(function () {
        $("[id$=A3]").addClass("active");
    });
</script>
<p>
    @Html.ActionLink("Nueva Solicitud", "Create")
</p>


<br />
@using (Html.BeginForm("Historial", "PRESTAMOes", FormMethod.Get))
{
    <fieldset>
        <label for="textArea" class="col-lg-2 control-label">Estado </label>
        <div class="col-lg-4">
            @Html.DropDownList("estado", new SelectList(
                  new List<Object>{
                       new { text = "Todos", value = "0"},
                       new { Text = "Pendiente", Value = "1" },
                       new { Text = "Aprobada", Value = "2" },
                       new { Text = "Denegada", Value = "3" },
                       new { Text = "Abierta", Value = "4" },
                       new { Text = "Cerrada", Value = "5" },
                       new { Text = "Cancelada", Value = "6"}
                  },
                  "value",
                  "text",
                   0), new { @class = "form-control" })
        </div>
    </fieldset>
    <br />

            <div class="col-md-3">
                <input type="submit" value="Buscar" class="btn btn-default" />
            </div>

            <!----<fieldset>
                <label for="textArea" class="col-lg-2 control-label">Estado </label>
                <div class="col-lg-10">

                    Html.DropDownList("estado", new SelectList(
                          new List<Object>{
                               new { value = 0 , text = "Seleccione un estado"  },
                               new { Text = "Pendiente", Value = "1" },
                               new  { Text = "Aprobada", Value = "2" },
                               new { Text = "Denegada", Value = "3" },
                               new { Text = "Abierta", Value = "4" },
                               new { Text = "Cerrada", Value = "5" },
                               new { Text = "Cancelada", Value = "6"}
                          },
                          "value",
                          "text",
                           2), ViewBag.CurrentFilter as string)
                </div>
            </fieldset>-->
            <br />

            <!-- <p>
                 <input type="submit" value="Buscar" class="btn btn-default" />
             </p>-->
}




<table class="table">
    <tr>
        <th>
            <label class="control-label" for="inputDefault">Número de boleta</label>
        </th>

        <th>
            <label class="control-label" for="inputDefault">Fecha de solicitud</label>
        </th>

        <th>
            <label class="control-label" for="inputDefault">Fecha de inicio del préstamo</label>
        </th>

        <th>
            <label class="control-label" for="inputDefault">Periodo del préstamo</label>

        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @switch (item.Estado)
                {
                    case 1:
                <tr class="danger">
                    <td>
                        @Html.DisplayFor(modelItem => item.NUMERO_BOLETA)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.FECHA_SOLICITUD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FECHA_RETIRO)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PERIODO_USO)

                    </td>
                    <td>
                        @Html.ActionLink("Detalles", "Detalles", new { id = item.ID }, new { @class = "btn btn-default" })
                    </td>
                </tr>
                    break;
                case 2:
                    <tr class="success">
                        <td>
                            @Html.DisplayFor(modelItem => item.NUMERO_BOLETA)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.FECHA_SOLICITUD)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FECHA_RETIRO)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.PERIODO_USO)

                        </td>
                        <td>
                            @Html.ActionLink("Detalles", "Detalles", new { id = item.ID }, new { @class = "btn btn-default" })
                        </td>
                    </tr>
                    break;
                case 3:
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NUMERO_BOLETA)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.FECHA_SOLICITUD)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FECHA_RETIRO)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.PERIODO_USO)

                        </td>
                        <td>
                            @Html.ActionLink("Detalles", "Detalles", new { id = item.ID }, new { @class = "btn btn-default" })
                        </td>
                    </tr>
                    break;
                case 4:
                    <tr class="warning">
                        <td>
                            @Html.DisplayFor(modelItem => item.NUMERO_BOLETA)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.FECHA_SOLICITUD)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FECHA_RETIRO)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.PERIODO_USO)

                        </td>
                        <td>
                            @Html.ActionLink("Detalles", "Detalles", new { id = item.ID }, new { @class = "btn btn-default" })
                        </td>
                    </tr>
                    break;
                case 5:
                    <tr class="info">
                        <td>
                            @Html.DisplayFor(modelItem => item.NUMERO_BOLETA)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.FECHA_SOLICITUD)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FECHA_RETIRO)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.PERIODO_USO)

                        </td>
                        <td>
                            @Html.ActionLink("Detalles", "Detalles", new { id = item.ID }, new { @class = "btn btn-default" })
                        </td>
                    </tr>
                    break;
                case 6:
                    <tr class="active">
                        <td>
                            @Html.DisplayFor(modelItem => item.NUMERO_BOLETA)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.FECHA_SOLICITUD)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FECHA_RETIRO)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.PERIODO_USO)

                        </td>
                        <td>
                            @Html.ActionLink("Detalles", "Detalles", new { id = item.ID }, new { @class = "btn btn-default" })
                        </td>
                    </tr>
                    break;
            }

            </tr>
    }

</table>
<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Historial",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, estado = ViewBag.estado }))
