@model PagedList.IPagedList<Activos_PrestamosOET.Models.PRESTAMO>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Consultar";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
      $(function() {
        $( "#datepicker" ).datepicker();
      });
</script>
<script>
         $.datepicker.regional['es'] = {
         closeText: 'Cerrar',
         prevText: '<Ant',
         nextText: 'Sig>',
         currentText: 'Hoy',
         monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
         monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
         dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
         dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
         dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
         weekHeader: 'Sm',
         dateFormat: 'dd/mm/yy',
         firstDay: 1,
         isRTL: false,
         showMonthAfterYear: false,
         yearSuffix: ''
         };

         $.datepicker.setDefaults($.datepicker.regional['es']);
         $(function() {
             $('.date-picker').datepicker();
         });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("[id$=A4]").addClass("active");
    });
</script>

<h2>Solicitudes de préstamo</h2>
<br />

<br />

<fieldset>
    <label for="textArea" class="col-lg-2 control-label">Empresa </label>
    <div class="col-lg-10">
        <select id="Estado" name="Estado" value="Estado" class="form-control">
            <option selected="selected" value="0">Todos</option>

            <option value="1">OET</option>

            <option value="2">ESINTRO</option>

        </select>
    </div>
</fieldset>
<br />

<fieldset>
    <label for="textArea" class="col-lg-2 control-label">Estación </label>
    <div class="col-lg-10">
        <select id="Estado" name="Estado" value="Estado" class="form-control">
            <option selected="selected" value="0">Todos</option>

            <option value="1">CRO</option>

            <option value="2">La Selva</option>

            <option value="3">Las Cruces</option>

            <option value="4">Jardín Botánico Wilson</option>

            <option value="5">Palo Verde</option>
        </select>
    </div>
</fieldset>
<br />
@using (Html.BeginForm("Index", "PRESTAMOes", FormMethod.Get))
{
<div class="form-group">
    <label class="col-lg-2 control-label" for="inputDefault">Fecha de Solicitud</label>
    <div class="col-lg-10">
        @Html.TextBox("fechaSolicitud", ViewBag.CurrentFilter as string, new { @class = "date-picker" })
    </div>
</div>
<br />
<br />
<div class="form-group">
    <label class="col-lg-2 control-label" for="inputDefault">Fecha de Retiro</label>
    <div class="col-lg-10">
        @Html.TextBox("fechaRetiro", ViewBag.CurrentFilter as string, new { @class = "date-picker" })
    </div>
</div>
<br />
<br />
<fieldset>
    <label for="textArea" class="col-lg-2 control-label">Estado </label>
    <div class="col-lg-10">
        v class="col-lg-10">
        @Html.DropDownList("estado", new SelectList(
                  new List<Object>{
                       new { value = 0 , text = "Seleccione un estado"  },
                       new { Text = "Pendiente", Value = "1" },
                       new  { Text = "Aprobada", Value = "2" },
                       new { Text = "Denegada", Value = "3" },
                       new { Text = "Abierta", Value = "4" },
                       new { Text = "Cerrada", Value = "5" },
                       new { Text = "Cancelada", Value = "6"}
                  },
                  "value",
                  "text",
                   2), ViewBag.CurrentFilter as string)
    </div>
</fieldset>
<br />

<p>    
    <input type="submit" value="Buscar" />
</p>
}




<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Número de boleta", "Index", new { sortOrder = ViewBag.NumeroSortParm , currentFilter = ViewBag.CurrentFilter })
        </th>

        <th>
            @Html.ActionLink("Fecha de solicitud", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th>
            @Html.ActionLink("Fecha de inicio del préstamo", "Index", new { sortOrder = ViewBag.FDateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th>
            @Html.ActionLink("Periodo del préstamo", "Index", new { sortOrder = ViewBag.PeriodoSortParm, currentFilter = ViewBag.CurrentFilter })
            
        </th>
        <th>
            @Html.ActionLink("Solicitante", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NUMERO_BOLETA)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.FECHA_SOLICITUD)            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_RETIRO)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.PERIODO_USO)
            
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SIGLA_CURSO)
        </td>

        <td>
            @Html.ActionLink("Detalles", "Details", new { id=item.ID }, new { @class = "btn btn-default" }) 
        </td>
    </tr>
}

</table>
<br/>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
