@model IEnumerable<Activos_PrestamosOET.Models.PRESTAMO>

@{
    ViewBag.Title = "Consultar";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
      $(function() {
        $( "#datepicker" ).datepicker();
      });
</script>
<script>
         $.datepicker.regional['es'] = {
         closeText: 'Cerrar',
         prevText: '<Ant',
         nextText: 'Sig>',
         currentText: 'Hoy',
         monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
         monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
         dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
         dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
         dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
         weekHeader: 'Sm',
         dateFormat: 'dd/mm/yy',
         firstDay: 1,
         isRTL: false,
         showMonthAfterYear: false,
         yearSuffix: ''
         };

         $.datepicker.setDefaults($.datepicker.regional['es']);
         $(function() {
            $( "#datepicker1" ).datepicker();
         });
</script>


<h2>Solicitudes de préstamo</h2>
<br />

<br />

<fieldset>
    <label for="textArea" class="col-lg-2 control-label">Empresa </label>
    <div class="col-lg-10">
        <select id="Estado" name="Estado" value="Estado" class="form-control">
            <option selected="selected" value="0">Todos</option>

            <option value="1">OET</option>

            <option value="2">ESINTRO</option>

        </select>
    </div>
</fieldset>
<br />

<fieldset>
    <label for="textArea" class="col-lg-2 control-label">Estación </label>
    <div class="col-lg-10">
        <select id="Estado" name="Estado" value="Estado" class="form-control">
            <option selected="selected" value="0">Todos</option>

            <option value="1">CRO</option>

            <option value="2">La Selva</option>

            <option value="3">Las Cruces</option>

            <option value="4">Jardín Botánico Wilson</option>

            <option value="5">Palo Verde</option>
        </select>
    </div>
</fieldset>
<br />

<div class="form-group">
    <label class="col-lg-2 control-label" for="inputDefault">Fecha de Solicitud</label>
    <div class="col-lg-10">
        <input class="form-control" name="fechaSolicitud" type="text" id="datepicker" />
    </div>
</div>
<br />
<br />
<div class="form-group">
    <label class="col-lg-2 control-label" for="inputDefault">Fecha de Retiro</label>
    <div class="col-lg-10">
        <input class="datepicker" />
        @Html.TextBox("fechaRetiro", "", new { @class = "datepicker1" })
    </div>
</div>
<br />
<br />
<fieldset>
    <label for="textArea" class="col-lg-2 control-label">Estado </label>
    <div class="col-lg-10">
        <select id="Estado" name="Estado" value="Estado" class="form-control">
            <option selected="selected" value="0">Todos</option>

            <option value="1">Pendiente</option>

            <option value="2">Aceptado</option>

            <option value="3">Cerrado</option>

            <option value="4">Denegado</option>
        </select>
    </div>
</fieldset>
<br />
@using (Html.BeginForm("Index", "PRESTAMOes", FormMethod.Get))
{
<p>    
    <input type="submit" value="Search" />
</p>
}




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NUMERO_BOLETA)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FECHA_SOLICITUD)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FECHA_RETIRO)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.SIGLA_CURSO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PERIODO_USO)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NUMERO_BOLETA)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.FECHA_SOLICITUD)            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_RETIRO)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.SIGLA_CURSO)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.PERIODO_USO)
        </td>

        <td>

            <input type="submit" value="Detalles" class="btn btn-default btn-sm" />
            @Html.ActionLink("Details", "Details", new { id=item.ID }) 
        </td>
    </tr>
}

</table>
