@model IEnumerable<Activos_PrestamosOET.Models.PRESTAMO>

@{
    ViewBag.Title = "Consultar";
}

<h2>Solicitudes de préstamo</h2>
<br />

<fieldset>
    <label for="textArea" class="col-lg-2 control-label">Empresa </label>
    <div class="col-lg-10">
        <select id="Estado" name="Estado" value="Estado" class="form-control">
            <option selected="selected" value="0">Todos</option>

            <option value="1">OET</option>

            <option value="2">Aceptado</option>

            <option value="3">Cerrado</option>

            <option value="4">Denegado</option>
        </select>
    </div>
</fieldset>
<br />

<fieldset>
    <label for="textArea" class="col-lg-2 control-label">Estación </label>
    <div class="col-lg-10">
        <select id="Estado" name="Estado" value="Estado" class="form-control">
            <option selected="selected" value="0">Todos</option>

            <option value="1">Pendiente</option>

            <option value="2">Aceptado</option>

            <option value="3">Cerrado</option>

            <option value="4">Denegado</option>
        </select>
    </div>
</fieldset>
<br />

<div class="form-group">
    <label class="col-lg-2 control-label" for="inputDefault">Fecha de Solicitud</label>
    <div class="col-lg-10">
        <input type="text" class="form-control" id="inputDefault">
    </div>
</div>
<br />
<br />
<div class="form-group">
    <label class="col-lg-2 control-label" for="inputDefault">Fecha de Retiro</label>
    <div class="col-lg-10">
        <input type="text" class="form-control" id="inputDefault">
    </div>
    </div>
<br />
<br />
<fieldset>
    <label for="textArea" class="col-lg-2 control-label">Estado </label>
    <div class="col-lg-10">
        <select id="Estado" name="Estado" value="Estado" class="form-control">
            <option selected="selected" value="0">Todos</option>

            <option value="1">Pendiente</option>

            <option value="2">Aceptado</option>

            <option value="3">Cerrado</option>

            <option value="4">Denegado</option>
        </select>
    </div>
</fieldset>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NUMERO_BOLETA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOTIVO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_SOLICITUD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_RETIRO)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.SOFTWARE_REQUERIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SIGLA_CURSO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NUMERO_BOLETA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOTIVO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_SOLICITUD)            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_RETIRO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOFTWARE_REQUERIDO)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.SIGLA_CURSO)
        </td>
        <td>

            <input type="submit" value="Detalles" class="btn btn-default btn-sm" />
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
