<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Control de Activos OET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>

<body>

    <div class="barra-logo">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-left">
                        <img src="~/Content/logo_oet.png" alt="Logo OET" class="img-responsive logo-oet" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-top" style="margin-top:80px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
</div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Nueva Solicitud", "Create", "PRESTAMOes")</li>
                    <li>@Html.ActionLink("Historial de Solicitudes", "Historial", "PRESTAMOes")</li> 
                    <li>@Html.ActionLink("Revision de Prestamos", "Index", "PRESTAMOes")</li>
                    <li>@Html.ActionLink("Equipo", "Index", "EQUIPO_SOLICITADO")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
           
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
