@model ICollection<Activos_PrestamosOET.Models.ACTIVO>

@{
    ViewBag.Title = "BoletaPDF";
}

<div>
    <h1>Activos en Inventario</h1>
    <br />
    <div class="container">
        <div class="row">
			@foreach (var item in Model)
			{
				<table style="width:80%">
					<tr>
						<td><b>Fabricante: </b>
						@{if (item.FABRICANTE == null){
							<text>No tiene Fabricante especificado</text>
						} else {
							<text>@item.FABRICANTE</text>
						}}
						</td>
					</tr>
					<tr>
						<td><b>Modelo: </b>
						@{if (item.MODELO == null) {
							<text>No tiene Modelo especificado</text>
						} else {
							<text>@item.MODELO</text>
						}}
						</td>
					</tr>
					<tr>
						<td><b>Placa: </b>
						@{if (item.MODELO == null) {
							<text>No tiene Placa especificado</text>
						} else {
							<text>@item.PLACA</text>
						}}
						</td>
					</tr>
					<tr>
						<td><b>Tipo: </b>
						@{if (item.TIPOS_ACTIVOS == null) {
							<text>No tiene Tipo de Activo especificado</text>
						} else {
							<text>@item.TIPOS_ACTIVOS.NOMBRE</text>
						}}
						</td>
					</tr>
					<tr>
						<td><b>Descripcion: </b>
						@{if (item.DESCRIPCION == null){
							<text>No tiene Descripcion especificada</text>
						} else {
							<text>@item.DESCRIPCION</text>
						}}
						</td>
					</tr>
					@foreach (var x in item.PRESTAMOes)
					{
						if (x == null)
						{
							<tr>
								<td><b>Prestado A: </b>
								<text>No ha sido prestado</text></td>
							</tr>
							<tr>
								<td><b>Prestado Hasta: </b>
								<text>No ha sido prestado</text></td>
							</tr>
						}
						else
						{
							<tr>
								<td><b>Prestado A: </b>
								@x.ActivosUser.Nombre</td>
							</tr>
							<tr>
								<td><b>Prestado Hasta: </b>
								@x.FECHA_RETIRO</td>
							</tr>
						}
					}
				</table>
				<br />
				<br />
			}
        </div>
    </div>
</div>
