@model ICollection<Activos_PrestamosOET.Models.ACTIVO>

@{
    ViewBag.Title = "BoletaPDF";
}

<div>
    <h3>Activos en Inventario</h3>
    <br />
    <div class="container">
        <div class="row">
            <div>

                <table style="width:80%">
					<thead>
                        <tr>
                            <th>Fabricante</th>
                            <th>Modelo</th>
                            <th>Placa</th>
                            <th>Tipo</th>
                            <th>Descripciones</th>
                            <th>Prestado A</th>
                            <th>Prestado Hasta</th>
                        </tr>
                    </thead>

					<tbody>
					@foreach (var item in Model)
					{
						<tr>
							@{if (item.FABRICANTE == null)
								{
									<td>No tiene Fabricante especificado</td>
								}
							} else {
								<td>@item.FABRICANTE</td>
							}
							@{if (item.MODELO == null)
								{
									<td>No tiene Modelo especificado</td>
								}
							} else {
								<td>@item.MODELO</td>
							}
							@{if (item.PLACA == null)
								{
									<td>No tiene Placa especificado</td>
								}
							} else {
								<td>@item.PLACA</td>
							}
							@{if (item.TIPOS_ACTIVOS == null)
								{
									<td>No tiene TIpo de Activo especificado</td>
								}
							} else {
								<td>@item.TIPOS_ACTIVOS.NOMBRE</td>
							}
							@{if (item.DESCRIPCION == null)
								{
									<td>No tiene Descripcion especificada</td>
								}
							} else {
								<td>@item.DESCRIPCION</td>
							}

							@foreach (var x in item.PRESTAMOes)
							{
								if (x == null)
								{
									<td>No ha sido prestado</td>
									<td>No ha sido prestado</td>
								}
								else
								{
									<td>@x.ActivosUser.Nombre</td>
									<td>@x.FECHA_RETIRO</td>
								}
							}
						</tr>
					}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
