@model ICollection<Activos_PrestamosOET.Models.ACTIVO>

@{
    ViewBag.Title = "BoletaPDF";
}

<div>
    <h1>Activos en Inventario</h1>
    <br />
    <div class="container">
        <div class="row">
			@foreach (var item in Model)
			{
				<table style="width:80%">
					<tr>
						<td><b>Fabricante: </b>
						@{if (item.FABRICANTE == null){
							<text>No especificado</text>
						} else {
							<text>@item.FABRICANTE</text>
						}}
						</td>
					</tr>
					<tr>
						<td><b>Modelo: </b>
						@{if (item.MODELO == null) {
							<text>No especificado</text>
						} else {
							<text>@item.MODELO</text>
						}}
						</td>
					</tr>
					<tr>
						<td><b>Placa: </b>
						@{if (item.PLACA == null) {
							<text>No especificada</text>
						} else {
							<text>@item.PLACA</text>
						}}
						</td>
					</tr>
					<tr>
						<td><b>Tipo: </b>
						@{if (item.TIPOS_ACTIVOS == null) {
							<text>No especificado</text>
						} else {
							<text>@item.TIPOS_ACTIVOS.NOMBRE</text>
						}}
						</td>
					</tr>
					<tr>
						<td><b>Descripcion: </b>
						@{if (item.DESCRIPCION == null){
							<text>No especificada</text>
						} else {
							<text>@item.DESCRIPCION</text>
						}}
						</td>
					</tr>
					<tr>
					@{ if (item.PRESTAMOes.Count == 0)
					{
						<td><b>Prestado a: </b>No prestado</td>
						<td><b>Prestado hasta: </b>No prestado</td>
					}
					else
					{
						foreach (var x in item.PRESTAMOes)
						{
							<td><b>Prestado a: </b><text>@x.ActivosUser.Nombre</text></td>
							<td><b>Prestado hasta: </b><text>@x.FECHA_RETIRO</text></td>
						}
					}
					}
					</tr>
				</table>
				<br />
				<br />
			}
        </div>
    </div>
</div>
