@model Activos_PrestamosOET.Models.ACTIVO

@{
    ViewBag.Title = "Details";
}

<h3>Historial del Activo</h3>


<div class="panel panel-default">
    <div class="panel-body">

        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
        </div>

        <div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.NUMERO_SERIE)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NUMERO_SERIE)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FECHA_COMPRA)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FECHA_COMPRA)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.INICIO_SERVICIO)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.INICIO_SERVICIO)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FECHA_INGRESO)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FECHA_INGRESO)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FABRICANTE)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FABRICANTE)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PRECIO)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PRECIO)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DESCRIPCION)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DESCRIPCION)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EXENTO)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EXENTO)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PRESTABLE)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PRESTABLE)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TIPO_CAPITAL)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TIPO_CAPITAL)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.INGRESADO_POR)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.INGRESADO_POR)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NUMERO_DOCUMENTO)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NUMERO_DOCUMENTO)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NUMERO_LOTE)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NUMERO_LOTE)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.COMENTARIO)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.COMENTARIO)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DESECHADO)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DESECHADO)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MODELO)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MODELO)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PLACA)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PLACA)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ESTADO_PRESTADO)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ESTADO_PRESTADO)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TIPOS_ACTIVOS.NOMBRE)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TIPOS_ACTIVOS.NOMBRE)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ESTADOS_ACTIVOS.NOMBRE)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ESTADOS_ACTIVOS.NOMBRE)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.V_MONEDA.NOMBRE)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.V_MONEDA.NOMBRE)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CENTROS_DE_COSTOS.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CENTROS_DE_COSTOS.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.V_USUARIOS.USUARIO)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.V_USUARIOS.USUARIO)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.V_PROVEEDOR.NOMBRE)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.V_PROVEEDOR.NOMBRE)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.V_ANFITRIONA.NOMBRE)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.V_ANFITRIONA.NOMBRE)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TIPOS_TRANSACCIONES.NOMBRE)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TIPOS_TRANSACCIONES.NOMBRE)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.V_ESTACION.NOMBRE)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.V_ESTACION.NOMBRE)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
