@model PagedList.IPagedList<Activos_PrestamosOET.Models.ACTIVO>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Inventario";
}
<div class="row">
    <br />
    <div class="col-xs-12">
        @Html.ActionLink("Regresar", "Index")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>Control de inventario</h2>
        <hr />
    </div>
</div>


<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>@Html.ActionLink("Compañía", "Inventario", new { orden = ViewBag.Compania }, new { @title = "Ordenar por la compañía" })</th>
                        <th>@Html.ActionLink("Estación", "Inventario", new { orden = ViewBag.Estacion }, new { @title = "Ordenar por la estación" })</th>
                        <th>@Html.ActionLink("Tipo", "Inventario", new { orden = ViewBag.Tipo }, new { @title = "Ordenar por el tipo" })</th>
                        <th>@Html.ActionLink("Responsable", "Inventario", new { orden = ViewBag.Responsable }, new { @title = "Ordenar por el responsable" })</th>
                        <th>
                            @Html.ActionLink("Descripción", "Inventario", new { orden = ViewBag.Descripcion }, new { @title = "Ordenar por la descripción del activo" })
                        </th>
                        <th class="text-center">Acciones</th>
                        <th class="text-center">Generar código</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.V_ANFITRIONA.SIGLAS)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.V_ESTACION.SIGLAS)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TIPOS_ACTIVOS.NOMBRE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.V_EMPLEADOS.NOMBRE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DESCRIPCION)
                            </td>
                            <td class="text-center">
                                <a href="@Url.Action("Details", new { id = item.ID })">
                                    <span class="glyphicon glyphicon-eye-open text-info" aria-hidden="true" title="Detalles"></span>
                                </a>
                            </td>
                            <td class="text-center">
                                @Html.CheckBox(item.ID)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <small><span class="text-muted">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</span></small>
        @Html.PagedListPager(Model, pagina => Url.Action("Inventario", new { pagina, orden = ViewBag.OrdenActual }))
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="pull-right">
            @* TODO: habilitar este botón cuando este lista la funcionalidad de generar el código de barras *@
            @Html.ActionLink("Generar códigos de barras", "#", new object { }, new { @class = "btn btn-default", @disabled = "disabled", @title = "Generar el código de los activos seleccionados" })
        </div>
    </div>
</div>