@model Activos_PrestamosOET.Models.V_EMPLEADOS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>V_EMPLEADOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.APELLIDOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADOCIVIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADOCIVIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDENTIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDENTIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDNACIONALIDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDNACIONALIDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDTIPO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDTIPO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUMASEGURADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMASEGURADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUMEMPLEADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMEMPLEADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEXO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEXO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ASOET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ASOET)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODIFICA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFICA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODIFICADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFICADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_NACIMIENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_NACIMIENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUM_ASOET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUM_ASOET)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PENSIONADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PENSIONADO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDEMPLEADO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
