@using Microsoft.AspNet.Identity.EntityFramework
@model IdentityRole
@{
    ViewBag.Title = "Borrar rol";
}

<h2>@ViewBag.Title</h2>

<h3>Esta seguro que desea borrar este rol? </h3>
<p>Borrar el rol también se lo borrará a todos los usuarios. No borrará a los usuarios en sí.</p>
<div>
    <h4>@ViewBag.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>

